@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #e1e4e7;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.conttt {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #e1e4e7;
  box-shadow: 14px 14px 20px #c7c9ca, -14px -14px 20px white;
}

.brand-logo {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.brand-logo i{
    font-size: 40px;
    margin-top: 25px;
    color: #1DA1F2;
}
.brand-title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 2px;
  font-family: cursive;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
  margin-left: 10px;
  color: rgb(58, 58, 58);
  font-family: cursive;
  letter-spacing: 1px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  color: rgb(58, 58, 58);
  font-family: cursive;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  color: white;
  font-size: 20px;
  font-family: cursive;
  letter-spacing: 2px;
}

button:hover {
  box-shadow: none;
}
