@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/*  styling scrollbars  */

.profile_contact{
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
    box-shadow: 5px 6px 10px rgb(185, 185, 185);
}
.profile_contact p{
    font-weight: bold;
}
.profile_contact img{
    margin-bottom: 10px;
}
.input-file{
    background-color: white;
}
.profile_contact input,.profile_contact textarea{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 97%;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: gray;
}
.profile_contact textarea{
    height: 100px;
    resize: vertical;
}
.btn-profile{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
}
.btn-profile:hover{
    opacity: 0.7;
}
.btn-green{
    background-color: green;
    color: white;
}
.btn-gray{
    background-color: rgb(109, 109, 109);
    color: white;
}
.top{
  display: flex;
}
.top p{
  margin-right: 10px;
  margin-top: 5px;
}
.top select{
  margin-right: 10px;
  width: 60px;
  height: 30px;
}
.table{
	width: 100%;
	border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.table td,.table th{
  padding:12px 15px;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #091d38;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 583px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 88%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
td i{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: white;
}
td i:hover{
  opacity: 0.7;
}
.fa-pencil-alt{
  background-color: blue;
}
.fa-trash{
  background-color: red;
}

/*  SIDEBAR STARTS HERE  */
