@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}
/********** header **************/

.head-bottom{

    text-align:center;
    width: 80vw;
    margin: 0 auto;
    z-index: 1;
    padding-top: 150px;
}
.head-bottom h2{
    font-size: 3.5rem;
    color:rgb(196, 196, 196);
    letter-spacing: 2px;
    font-weight: 500;
    z-index: 10;
}
.head-bottom p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
    z-index: 1;
    font-family: cursive;
    color: ivory;
}



header{
    height: 55px;
    position: fixed;
    top:0; left:0; right:0;
    background:#292826;
    padding:1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bolder;
    letter-spacing: 1px;
}

header .logo span{
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .navbar a{
    font-size: 1rem;
    padding-right: 15px;
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .navbar a:hover{
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
}

header .icons a{
    font-size: 1.3rem;
    color:white;
    margin-left: 1rem;
}

header .icons a:hover{
    transform: scale(1.3);
    color: #9ECAFF;
}


header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 1.2rem;
    color:white;
    border-radius: .5rem;
    /* padding:.2rem 1.2rem; */
    cursor: pointer;
    border:.1rem solid rgba(0, 0, 0, 0);
    display: none;
    margin-left: -5px;
}
/********** end header **************/

/********** footer **************/
.footer{
    background: #292826;
    margin-top: 3%;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1%;
}

.footer .box-container .box{
    width: 24%;
}

.footer .box-container .box h3{
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 1.5rem;
    padding:1rem 0;
    letter-spacing: 2px;
    font-family: cursive;
}

.footer .box-container .box a{
    display: block;
    color:white;
    font-size: 1rem;
    margin-bottom: 3%;
    font-family: cursive;
}
.footer .box-container .box a i{
    margin-right: 3%;
    color: #9ECAFF;
}
.footer .box-container .box p{
    display: block;
    color:white;
    font-size: 1rem;
    padding:1rem 0;
    line-height: 1.7;
    font-family: cursive;
    letter-spacing: 1px;
}
.footer .box-container .box a:hover{
    color:#9ECAFF;
    text-decoration: underline;
}

.footer .box-container .box textarea{
    width: 250px;
    height: 10rem;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 18px;
}
.footer .box-container .box textarea:focus{
    border: 2px solid #9ECAFF;
}
.btn_footer{
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 10px;
    border: none;
    color: white;
    margin-top: 2%;
    background: linear-gradient(to right,#4178AF,#527EAA,#9ECAFF,white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-left: 90px;
}
.btn_footer:hover{
    transform: scale(1.09);
}
.icon5 i{
    font-size: 22px;
    margin-top: 1%;
    color: white;
    background-color: #527EAA;
    padding: 10px;
    border-radius: 50%;
    margin-right: 3%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.icon5 i:hover{
    color: #527EAA;
    background-color: #292826;
}
/********** end footer **************/

/* media queries  */
@media screen and (max-width:822px) {
    header .navbar a{
        padding-right: 9px;
        font-size: 0.9rem;
    }
}
@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:white;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        font-size: 0.85rem;
        height: 20px;
        padding: 20px;
        margin-bottom: 2px;
        border-bottom:.1rem solid rgba(0,0,0,.1);
        display: block;
        background: -webkit-linear-gradient(#527EAA,#527EAA,#527EAA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    header .navbar a:hover{
        font-size: 1rem;
    }
    header .navbar a:last-child{
        border-bottom: none;
    }
}
@media screen and (max-width:1102px) {
    .footer .box-container .box{
        width: 31%;
    }
}
@media screen and (max-width:758px) {
    .footer .box-container .box{
        width: 49%;
    }
}
@media screen and (max-width:543px) {
    .footer .box-container .box{
        width: 98%;
    }
}



@media only screen and (max-width: 983px) {
    header .logo{
        font-size: 1.2rem;
    }

    header .icons a{
        font-size: 1.2rem;
        color:white;
        margin-left: 1rem;
    }

    .head-bottom{
        padding-top: 150px;
    }
    .head-bottom h2{
        font-size: 2rem;

    }
    .head-bottom p{
        opacity: 0.7;
        font-size: 10px;

    }
  }



  /*notifications*/
  header .icons i:hover{
    transform: scale(1.3);
    color: #9ECAFF;
}

  .icon-button__badge {
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    width: min-content;
    height: min-content;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: small;
  }
  /*notifications*/
