@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #469cac;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}

* {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}
.text-pink{
  color: #d52275;
}
.text-blue{
  color: #1B1464;
}
.text-roze{
  color: #ffb8b8;
}
.text-color{
  color: #3ea175;
}
.text-org{
  color: #e17055;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
  /* grid-gap: 0.2rem; */
}

.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 700;
  color: #143555;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
@media screen and (max-width:713px) {
    .navbar__left > a {
        font-size: 11px;
    }
}
@media screen and (max-width:602px) {
    .navbar__left > a {
        font-size: 10px;
        margin-right: 10px;
    }
    .hide{
        display: none;
    }
}
.navbar__left .active_link {
  padding-bottom: 12px;
  color: #2e4a66;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*new*/
.navbar__right img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .name{
    line-height: 0.9;
    margin-top: 3%;
    margin-right: 8px;
  }
  .name p{
    margin-left: 5%;
    color: #2e4a66;
    font-weight: bold;
  }
  .select{
    padding: 5px;
    border: none;
    outline: none;
    color: #2e4a66;
    cursor: pointer;
  }
  /* @media screen and (max-width:651px) {
    .navbar__left > a{
      font-size: 13px;
      margin-right: 10px;
    }
  } */
  @media screen and (max-width:558px) {
    .navbar__left > a{
      font-size: 11px;
      margin-left: 10px;
    }
    /* .navbar__right img{
      width: 30px;
      height: 30px;
    } */
  }
  /*new*/
  /*notifications*/
  .icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: gray;
    background: white;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-left: 6px;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  }

  .icon-button:hover {
    cursor: pointer;
  }

  .icon-button:active {
    background: #cccccc;
  }

  .icon-button__badge {
    position: absolute;
    top: -9px;
    right: -8px;
    min-width: 19px;
    min-height: 19px;
    width: min-content;
    height: min-content;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
  }
  /*notifications*/

.system{
  color: gray;
}
main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 20px 35px;
}

.main__title {
    display: flex;
    align-items: center;
    width: 100%;
}

.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}
.go{
  color: gray;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(242, 242, 242);
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.go:hover{
  opacity: 0.7;
}








#sidebar {
    width: 18.4%;
    height: 100%;
    background: #020509;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
  }

  .sidebar__title > i {
    font-size: 18px;
    display: none;
    color: white;
  }
  .sidebar__title{
    border-bottom: 1px solid rgb(54, 54, 54);
    margin-bottom: 10%;
    text-align: center;
  }
  .sidebar__title h1 a{
    text-align: center;
    color: white;
    margin-bottom: 10%;
    letter-spacing: 7px;
  color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #469cac,
      0 0 62px #469cac,
      0 0 72px #469cac,
      0 0 90px #469cac,
      0 0 100px #469cac;
  }
  .sidebar__title h1 i{
     margin-right: 8px;
     color: #469cac;
  }
  .sidebar__menu > h2 {
    color: rgb(180, 179, 179);
    font-size: 16px;
    margin-top: 12%;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .sidebar__menu > h2 .chev{
    float: right;
    font-size: 15px;
    color: rgb(180, 179, 179);
  }
  .sidebar__menu > h2 .cog{
    margin-right: 2%;
    font-size: 20px;
    color: #469cac;
  }
  .sidebar__menu > h2:hover{
    color: whitesmoke;
  }
  .sidebar__menu > h2:hover .chev{
    color: whitesmoke;
  }
  .sidebar__link {
    color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: 10%;
  }
  .sidebar__link a{
    transition: all 0.5s ease-in-out;
  }
  .sidebar__link a:hover{
    color: whitesmoke;
  }
  .active_menu_link {
    background: #469cac;
    color: whitesmoke;
  }

  .active_menu_link a {
    color: whitesmoke !important;
    margin-top: 5%;
  }
  .active_menu_link i{
    color: whitesmoke !important;
  }
  .sidebar__link > a {
    text-decoration: none;
    color: rgb(180, 179, 179);
    font-weight: 700;
  }

  .sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(180, 179, 179);
  }

  .sidebar__logout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
  }

  .sidebar__logout > a {
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
  }

  .sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px;
  }

  .sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
  }

  @media only screen and (max-width: 983px) {
    .container {
      grid-template-columns: 1fr;
      /* grid-template-rows: 0.2fr 2.2fr; */
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "nav"
        "main";
    }

    #sidebar {
      display: none;
      width: 28%;
    }

    .sidebar__title > i {
      display: inline;
    }

    .nav_icon {
      display: inline;
    }
  }
  @media screen and (max-width:827px) {
    #sidebar {
      width: 40%;
    }
  }
  @media screen and(max-width:569px) {
    #sidebar{
      width: 70%;
    }
  }
  @media only screen and (max-width: 855px) {
    .main__cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }

    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 480px) {
    .navbar__left {
      display: none;
    }
  }
  .hidden1,.hidden2,.hidden3,.hidden4,.hidden5,.hidden6,.hidden7,.hidden8,.hidden9,.hidden10,.hidden11{
    display: none;
  }
  .charts {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }

  .charts__left {
    width: 48%;
    height: 300px;
    margin-right: 2%;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  }

  .charts__left__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .charts__left__title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
  }

  .charts__right {
    width: 48%;
    height: 300px;
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  }

  .charts__right__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .charts__right__title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
  }

  .charts__right__title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
  }

  .charts__right__title > i {
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
  }

  .charts__right__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
  }
  .charts__right__cards h1{
    font-weight: 400;
  }
  .card1 {
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }

  .card2 {
    background: #d2f9ee;
    color: #38e1b0;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }

  .card3 {
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }

  .card4 {
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }

  @media only screen and (max-width: 855px) {
    .main__cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }

    .charts {
      flex-direction: column;
      margin-top: 30px;
    }
    .charts__left{
      width: 92%;
    }
    .charts__right{
      width: 92%;
    }
  }
  .name{
    line-height: 0.9;
    margin-top: 3%;
  }
  .name .name1{
    margin-left: 5%;
    color: #2e4a66;
    font-weight: bold;
  }
  .mail{
    margin-left: 5%;
    color: #2e4a66;
    margin-top: 2px;
    cursor: pointer;
  }
  .mail span{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
  }
  .mail span i{
    margin-left: 2px;
  }

  .name span{
    margin-left: 18px;
  }
  .name1{
    display: flex;
  }
  .dropbtn {
    background-color:white;
    color: #353232;
    padding-top: 4px;
  padding-left:16px;
  padding-right:16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
  border-radius: 20px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: #2e4a66;
  font-weight: 20px;
  font-family: cursive;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;

    color: #469cac; }
  .show {display:block;}







  .leftt{
    display: none;
  }

  @media screen and (max-width:815px) {
    .navbar__left > a{
      display: none;
    }
    .leftt{
      display: flex;
      flex-direction: row;
    }
    .leftt .fa-caret-square-down{
      font-size: 26px;
      margin-right: 5px;
      color: #469cac;
    }
    .leftt .fa-caret-square-down:hover{
        opacity: 0.7;
        cursor: pointer;
      }
  }
  .dropdown-content1 {
    display: none;
  margin-top: 35px;
  margin-left: -40px;
    position: absolute;
  border-radius: 20px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content1 a {
    color: #2e4a66;
  font-weight: 20px;
  font-family: cursive;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content1 a:hover {background-color: #ddd;

    color: #469cac; }





  .charts__left__title input{
    width: 300px;
    padding: 8px;
    margin-top: 10px;
    outline: none;
    color: #35a4ba;
    border: 1px solid #35a4ba;
    border-radius: 5px;
  }
  .charts__left__title button{
    width: 80px;
    padding: 8px;
    background: #d1ecf1;
    color: #35a4ba;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #35a4ba;
  }
  .charts__left__title input::placeholder{
    color: #35a4ba;
  }
  @media screen and (max-width:1259px) {
    .charts__left__title input{
      width: 200px;
    }
  }
  @media screen and (max-width:854px) {
    .charts__left__title input{
      width: 300px;
    }
  }
  @media screen and (max-width:515px) {
    .charts__left__title input{
      width: 230px;
    }
  }
