@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 200;
    letter-spacing: .13em;
    color:rgb(90, 90, 90);
    padding:1rem;
    margin:2rem 0;
    background: #f7f9fd;
}

.heading span{
    color: #527EAA;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: linear-gradient(to right,#4178AF,#527EAA,#9ECAFF,white);
    color:#fff;
    padding:.9rem 3.5rem;
    font-size: 1.7rem;
}
/********** header **************/
header{
    position: fixed;
    top:0; left:0; right:0;
    background:#292826;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 2.3rem;
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bolder;
    letter-spacing: 1px;
}

header .logo span{
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .navbar a{
    font-size: 1.5rem;
    padding:0 1.5rem;
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .navbar a:hover{
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}

header .icons a{
    font-size: 2rem;
    color:white;
    margin-left: 1.5rem;
}

header .icons a:hover{
    transform: scale(1.3);
    color: #9ECAFF;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:white;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}
/********** end header **************/

/********** home **************/
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 3.5rem;
    color:rgb(32, 32, 32);
    letter-spacing: 2px;
    font-weight: 500;
    z-index: 10;
}

.home .content span{
    font-size: 2.5rem;
    color:#9ECAFF;
    padding:1rem 0;
    line-height: 1.5;
    z-index: 10;
}

.home .content p{
    font-size: 1.5rem;
    color:white;
    padding:1rem 0;
    line-height: 1.5;
    z-index: 10;
}
/********** end home **************/

/********** about **************/
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    font-weight: 430;
    letter-spacing: 2px;
    color:#9ECAFF;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.7;
}
/********** end about **************/

/********** icon **************/
.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
    border-radius: 5px;
    border-top: 3px solid #9ECAFF;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:rgb(53, 53, 53);
    padding-bottom: .5rem;
    font-size: 1.5rem;
    font-family: cursive;
    letter-spacing: 1px;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}
/********** end icon **************/

/********** room **************/
.cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
  }

  .card {
    position: relative;
    width: 23%;
    height : 300px;
    box-shadow: 0 40px 25px -6px black;
    margin-right: 2%;
    margin-bottom: 6%;
  }

  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right,#4178AF,#527EAA,#9ECAFF,white);
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 40px;
    letter-spacing: 3px;
    font-family: cursive;
    font-size: 18px;
    font-weight: 400;
  }

  .card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
    filter: brightness(80%);
  }

  .card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
    margin-top: 2%;
    font-size: 13px;
  }
  .card-desc i{
      margin-left: 6%;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #9ECAFF;
      margin-top: 2%;
  }
  .card:hover .card-desc {
    opacity: 1;
    height: 100%;
  }

  h1 {
    font-size: 2.8rem;
    color: #fff;
    margin: 40px 0 20px 0;
    text-align: center;
  }
@media screen and (max-width:1064px) {
    .card{
        width: 31%;
    }
}
@media screen and (max-width:813px) {
    .card{
        width: 48%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width:650px) {
    .card{
        width: 80%;
        margin-bottom: 15%;
    }
    .cards{
        margin-left: 20%;
    }
}
/********** end room **************/

/********** review **************/
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color: #9ECAFF;
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.35rem;
    line-height: 1.5;
    padding-top: 2rem;
    height: 160px;
    font-weight: 200;
    letter-spacing: 1px;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#527EAA;
    font-weight: 500;
    font-family: monospace;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}
/********** end review **************/

/********** contact **************/
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

#map{
    width: 50%;
    height: 425px;
    border-radius: .5rem;
}
@media screen and (max-width:1029px) {
    #map{
        width: 100%;
    }
}

.contact .row form{
    height: 425px;
}
.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}
.top_contact{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.top_contact_img{
    width: 100%;
    height: 100%;
}
.top_contact_img img{
    width: 100%;
    height: 320px;
}
.top_contact_par{
    width: 100%;
    height: 100%;
}
.top_contact_par p{
    line-height: 1.7;
    font-size: 13px;
    margin-top: 3%;
    font-weight: 400;
    letter-spacing: 1px;
    color: gray;
    text-align: center;
}
/********** end contact **************/

/********** footer **************/
.footer{
    background: #292826;
    margin-top: 3%;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-top: 1%;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    background: -webkit-linear-gradient(#527EAA,#9ECAFF,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 2.5rem;
    padding:1rem 0;
    letter-spacing: 2px;
    font-family: cursive;
}

.footer .box-container .box a{
    display: block;
    color:white;
    font-size: 1.5rem;
    margin-bottom: 3%;
    font-family: cursive;
}
.footer .box-container .box a i{
    margin-right: 3%;
    color: #9ECAFF;
}
.footer .box-container .box p{
    display: block;
    color:white;
    font-size: 1.5rem;
    padding:1rem 0;
    line-height: 1.7;
    font-family: cursive;
    letter-spacing: 1px;
}
.footer .box-container .box a:hover{
    color:#9ECAFF;
    text-decoration: underline;
}

.footer .box-container .box textarea{
    height: 15rem;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 3%;
    background-color: whitesmoke;
}
.footer .box-container .box textarea:focus{
    border: 2px solid #9ECAFF;
}
.btn_footer{
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 10px;
    border: none;
    color: white;
    margin-top: 2%;
    background: linear-gradient(to right,#4178AF,#527EAA,#9ECAFF,white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-left: 90px;
}
.btn_footer:hover{
    transform: scale(1.09);
}
.icon5 i{
    font-size: 22px;
    margin-top: 1%;
    color: white;
    background-color: #527EAA;
    padding: 10px;
    border-radius: 50%;
    margin-right: 3%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.icon5 i:hover{
    color: #527EAA;
    background-color: #292826;
}
/********** end footer **************/



/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:white;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        border-bottom:.1rem solid rgba(0,0,0,.1);
        display: block;
        background: -webkit-linear-gradient(#527EAA,#527EAA,#527EAA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    header .navbar a:last-child{
        border-bottom: none;
    }
    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 1.6rem;
    }

    .icons-container .icons span{
        font-size: 1.7rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}


header .icons i:hover{
    transform: scale(1.3);
    color: #9ECAFF;
}

  .icon-button__badge {
    position: absolute;
    top: 7px;
    min-width: 19px;
    min-height: 19px;
    width: min-content;
    height: min-content;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: small;
  }
