@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/*  styling scrollbars  */

.all-image{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.single-image{
  margin-top: 20px;
  width: 19%;
  border-radius: 5px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.single-image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: brightness(75%);
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(209, 208, 208);
}
.single-image i a{
    color: rgb(226, 2, 2);
    margin-left: 20px;
    top: 0;
    padding: 3px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}
.ii {
    color: rgb(226, 2, 2);

}
.single-image i:hover{
  opacity: 0.7;
}
@media screen and (max-width:1320px){
  .single-image{
    width: 23%;
  }
}
@media screen and (max-width:787px){
  .single-image{
    width: 31%;
  }
}
@media screen and (max-width:591px){
  .single-image{
    width: 46%;
  }
}
